*{
    border : black 2px
}
.SigninComponent{
    width: 100%;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}
.SigninContainer{
    width: 30vw;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue);
    text-align: center;
    border-radius: 8px;
    flex-wrap: wrap;
    
    /* padding: 10px; */
}
.SigninContainer button{
    max-width: 20vw;
    color: black;
    border-radius: 8px;
    border: none;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    cursor: pointer;
}
.GoogleIcon{
    flex-grow: 2;
}
.SigninButtonContent{
    flex-grow: 1;
}
@media screen {
    .SigninContainer button{
        font-size: 0.9em;
    }
}

@media (max-width : 800px)
{
    .SigninButtonContent{
        display: none;
    }
}